<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="oracle"
            providerName="System.Data.SqlClient"
            connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.2.200)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=ris;Password=123456;"/>
    </connectionStrings>
</configuration>